* {
    box-sizing: border-box;
}
body {
    background-image: url(../img/background_small.jpg);
    background-repeat: "repeat";

}

.container {
    min-height: 640px;
    background-color: rgba(0, 0, 0, 0.9);
}

.myGame h1{
    margin: 0;
}
.myGame h3 {
    color: white;
    font-size: 2rem;
    display: none;
}

div img {
    border-radius: 25px;
}

.myGame .btn {
    width: 25%;
}

footer {
    background: black;
}
@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

